<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="description" content="Staging Template">
    <meta name="keywords" content="Staging, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Roberio Planejados</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__logo">
            <!-- <a href="{% url 'index' %}"><img src="{% static 'img/c1.jpeg' %}"  alt=""  ></a> -->
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__widget">
            <span>Entrar em contato</span>
            <h4>+01 123 456 789</h4>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <!-- <a href="{% url 'index' %}"><img src="{% static 'img/c1.jpeg' %}"  alt=""  ></a> -->
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="{% url 'index'%}">Home</a></li>
                            <li ><a href="{% url 'projeto'%}">Projetos</a></li>
                            <!-- class="active" -->
                            <li><a href="{% url 'sobre'%}">Sobre-Nós</a></li>
                            <!-- <li><a href="#">Pages</a> -->
                                <!-- <ul class="dropdown">
                                    <li><a href="./Project-details.html">Project Details</a></li>
                                    <li><a href="./about.html">About</a></li>
                                    <li><a href="./services.html">Services</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul> -->
                            </li>
                            <!-- <li><a href="./blog.html">Blog</a></li> -->
                            <li><a href="{% url 'contato'%}">Contato</a></li>
                             <!-- class="active" -->
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__widget">
                        <span>Ligue Para qualquer Duvida </span>
                        <h4>+01 123 456 789</h4>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-option spad set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg'%}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Nosso  Projetos</h2>
                        <style> 
                            #sub{
                                color: white;
                            }
                        </style>
                        <h4  id="sub"> Galeria de Fotos de Moveis Planejados </h4>
                        <div class="breadcrumb__links">
                            <!-- <a href="./index.html">Home</a>
                            <span>Projects</span> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- Project Page Section Begin -->
    <section class="project-page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="project__item">
                        <a href="{% url 'quarto' %}"><img src="{% static 'img/project/c2.jpeg'%}"   alt="" width="570"  height="380"></a>
                        <h4><a href="{% url 'quarto' %}">Quarto</a></h4>
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="project__item">
                        <a href="{% url 'sala' %}"><img src="{% static 'img/project/sala.jpeg'%}" alt=""></a>
                        <h4><a href="{% url 'sala' %}">Sala</a></h4>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="project__item">
                        <a href="{% url 'banheiro' %}"><img src="{% static 'img/project/banheiro.jpeg'%}" alt=""></a>
                        <h4><a href="{% url 'banheiro' %}">Banheiro</a></h4>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="project__item">
                        <a href="{% url 'cozinha' %}"><img src="{% static 'img/project/cozinha.jpeg'%}" alt=""></a>
                        <h4><a href="{% url 'cozinha' %}">Cozinha</a></h4>
                    </div>
                </div>
                <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="project__item">
                        <img src="{% static 'img/project/project-p5.jpg'%}" alt="">
                        <h4><a href="#">Decoration</a></h4>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="project__item">
                        <img src="{% static 'img/project/project-p6.jpg'%}" alt="">
                        <h4><a href="#">Funiture</a></h4>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <a href="#" class="primary-btn normal-btn">Load More</a>
                </div> -->
            </div>
        </div>
    </section>
    <!-- Project Page Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer set-bg" data-setbg="{% static 'img/footer-bg.jpg'%}">
        <div class="container">
            <!-- <div class="footer__top">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="footer__top__text">
                            <h2>Ready To Work With Us?</h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="footer__top__newslatter">
                            <form action="#">
                                <input type="text" placeholder="Enter your email...">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <!-- <a href="{% url 'index' %}"><img src="{% static 'img/c1.jpeg' %}"  alt=""  ></a> -->
                        </div>
                        <p>Rua carlos gomes 785 centro<br />Limeira, SP</p>
                        <ul>
                            <li>roberioplanejados@hotmail.com</li>
                            <!-- <li>+84 123 456 789</li> -->
                        </ul>
                        <div class="footer__social">
                            <a href="https://www.facebook.com/RoberioMoveisPlanejados"><i class="fa fa-facebook"></i></a>
                            <!-- <a href="#"><i class="fa fa-twitter"></i></a> -->
                            <a href="https://instagram.com/roberiomplanejados?utm_medium=copy_link"><i class="fa fa-instagram"></i></a>
                            <!-- <a href="#"><i class="fa fa-linkedin"></i></a> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Compania</h6>
                        <ul>
                            <li><a href="{% url 'sobre' %}">Sobre-Nós</a></li>
                            <li><a href="{% url 'contato' %}">Contate-Nós</a></li>
                            <li><a href="{% url 'projeto' %}">Galeria De Fotos</a></li>
                            <li><a href="{% url  'index' %}">Home</a></li>
                            <!-- <li><a href="#">FAQs</a></li> -->
                        </ul>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__address">
                        <h6>Entrar em contato</h6>
                        <p>Rua carlos gomes 785 centro<br />Limeira, SP</p>
                        <ul>
                            <li>roberioplanejados@hotmail.com</li>
                            <!-- <li>+84 123 456 789</li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="row">
                    <!-- <div class="col-lg-8 col-md-7">
                        <div class="copyright__text">
                            <p>Copyright © <script>
                                document.write(new Date().getFullYear());
                            </script> All rights reserved | This template is made with <i class="fa fa-heart-o"
                            aria-hidden="true"></i> by <a href="https://colorlib.com"
                            target="_blank">Colorlib</a>
                        </p>
                    </div> -->
                </div>
                <!-- <div class="col-lg-4 col-sm-5">
                    <div class="copyright__widget">
                        <a href="#">Terms of use</a>
                        <a href="#">Privacy Policy</a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/jquery.slicknav.js'%}"></script>
<script src="{% static 'js/owl.carousel.min.js'%}"></script>
<script src="{% static 'js/slick.min.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>
</body>

</html>


<!-- Separar por topicos e por imagens ex: Quarto Masculino -->